<div class="container">
  <h1>Lists</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list)%></li>
    <% end %>
  </ul>

  <p><%= link_to "+Add a new list",  new_list_path, class: "btn btn-primary" %></p>
</div>
